@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Roboto, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #ECECEB;
    color: #2E383F;
    font-size: 110%;
}

h1,
h2,
h3 {
    font-family: Epilogue, sans-serif;
    letter-spacing: 7px;
    line-height: 1.5;
    text-transform: uppercase;
}

h2,
h3 {
    font-weight: 700;
    font-size: 200%;
}

/* Navigation Bar */

.navbar {
    display: flex;
    /*
    justify-content: flex-end;
    */
    align-items: center;
    background-color: #2E383F;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
}

.logo-img {
    max-width: 80%;
}

.nav-menu {
    padding: 5px 30px 5px 0;
    color: #ECECEB;
}

.nav-item {
    margin-right: 20px;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.nav-menu .active {
    color: #F9A828;
}

.nav-menu a:hover {
    color: #F9A828;
}

/* Media Queries */

@media screen and (max-width: 1030px) {
    .navbar {
        justify-content: center;
    }
    .nav-menu {
        margin: 5px 0px 5px 15px;
        line-height: 25px;
    }
    .nav-item {
        display: block;
        padding: 4px 0 4px 0;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        margin-right: 20px; 
    }
    .logo-img {
    min-width: 40vw;
}
}