@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Default styling and repeat styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    font-size: 62.5%;
}

body {
    background-color: #ECECEB;
    color: #2E383F;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-family: Righteous, sans-serif;
    text-transform: uppercase;
    letter-spacing: .5rem;
    line-height: 1.5;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    line-height: 2.5rem;
}

.padding {
    padding: 4rem;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-sub-page {
    margin-bottom: 3rem;
}

.outer {
    text-align: center;
    margin: 9rem auto 9rem;
    width: 80vw;
}

.bg-dark {
    color: #ECECEB;
    background-color: rgba(46, 56, 63, .7);
    border-radius: 2rem;
}

.border-light {
    border: #ECECEB .2rem solid;
    border-radius: 2rem;
}

/*------------------------------------------------------Index Page*/
/* Navigation Bar */

.navbar {
    background-color: #2E383F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7.5rem;
    padding: 1em;
}

.logo {
    margin-right: auto;
    margin-left: .2rem;
    padding: .5rem 0 .5rem;
}

.logo-img {
    max-width: 23rem;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ECECEB;
}

.nav-item {
    margin: 0 1rem;
    overflow: hidden;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

/* The code for the hamburger menu was was sourced from https://alvarotrigo.com/blog/hamburger-menu-css/ */
.menu-button-container {
    display: none;
    height: 100%;
    width: 3rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: .4rem;
    width: 3rem;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu-button::before {
    content: '';
    margin-top: -.8rem;
  }
  
  .menu-button::after {
    content: '';
    margin-top: .8rem;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

.nav-menu .active {
    color: #F9A828;
}

.nav-menu a:hover {
    color: #F9A828;
}

/*Hero Banner*/

.parallax {
    background: url("../images/parallax.webp");
    background-size: cover;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-small {
    height: 30vh;
}

.sub-page-bg {
    background-image: url("../images/background2.jpg");
}

#hero {
    min-height: 90vh;
}

.hero-text {
    letter-spacing: .2rem;
    position: absolute;
    text-align: center;
    animation: moveInRight 1s ease-out;
}

.hero-text>h2 {
    font-size: 2.1rem;
    letter-spacing: .2rem;
    padding-top: .5rem;
    margin-bottom: 1.5rem;
}

.button {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #2E383F;
    background-color: rgb(249, 168, 40);
    border: #2E383F solid .2rem;
    border-radius: 10rem;
    padding: .8rem 1.7rem;
}

.button:hover {
    color: #ECECEB;
    background-color: #2E383F;
    border: #ECECEB solid .2rem;
}

/* About Section */

.about-video {
    margin-left: 2.5rem;
}

.about-text {
    text-align: left;
}

/* What to expect section */
#expect {
    text-align: center;
}

.expect-container {
    display: flex;
    justify-content: center;
}

.expect-text {
    justify-content: center;
    flex: 1;
    margin: 3rem;
    border: #2E383F solid .2rem;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2)
}

.expect-text:hover {
    background-color: #2E383F;
    color: #ECECEB;
}

.expect-text-heading {
    padding-bottom: 1.5rem;
}

.expect-text>i {
    font-size: 8rem;
    padding-bottom: 3rem;
}

/* Gallery Section */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    padding: 3rem;
}

.gallery-img {
    width: 100%;
    padding-bottom: 1.5rem;
}

/*------------------------------------------------------Location Page*/
/* Location Section */

.location-primary-text {
    width: 50vw;
    margin: 0 auto;
}

.location-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.location-inner {
    width: 40%;
    text-align: left;
    margin: 2rem;
    background-color: rgba(46, 56, 63, .74);
    animation: moveInRight 1s ease-out;
}

.location-img {
    text-align: center;
    padding-bottom: 3rem;
}

.location-img>img {
    max-height: 150px;
    width: auto;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2)
}

/*------------------------------------------------------Schedule Page*/
/* Schedule Section */

.schedule {
    flex-direction: column;
}

.schedule-container {
    text-align: start;
    width: 60%;
    animation: moveInLeft 1s ease-out;
    background-color: rgba(46, 56, 63, .74);
    margin-bottom: 4rem;
}

.center,
.right {
    padding-top: 2.5rem;
}

.heading-schedule-list {
    border-bottom: #ECECEB .2rem solid;
}

.schedule-list-container {
    display: flex;
}

.schedule-list-container p {
    width: fit-content;
    padding: 2rem;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.schedule-list {
    padding: 2rem;
    list-style-type: none;
}

.schedule-list>li {
    padding: 0.5rem;
    list-style-type:"* ";
}

.schedule-list>li::marker {
    color: #F9A828;
}




/*------------------------------------------------------Signup Page*/
/*Signup section*/

#signup .outer {
    width: 50vw;
}

.signup-form {
    width: auto;
    text-align: left;
    font-size: 2rem;
}

.text-input {
    background: transparent;
    width: 50%;
    height: 2.5rem;
    border: #ECECEB solid .2rem;
    border-radius: .4rem;
    display: block;
    margin: .5rem 0 2rem;
    color: #ECECEB;
    padding-left: .5rem;
}

.feedback {
    margin: 2rem 0 2rem;
}

.feedback .text-input {
height: auto;
}

.text-input::placeholder {
    color: #ECECEB;
    opacity: 0.8;
}

.text-input:hover {
    border-color: #F9A828;
}

.signup-form .button {
    display: block;
    margin-top: 2rem;
}

/* Footer */

#footer {
    background-color: #2E383F;
    width: auto;
    color: #ECECEB;
    text-align: center;
}

.social-networks {
    list-style: none;
}

.social-networks li {
    padding: 2rem 3rem 2rem;
}

.social-networks i {
    font-size: 3rem;
    color: #ECECEB;
}

.social-networks i:hover {
    color: #F9A828;
}

/* Media Queries */

/*Mobile */
@media screen and (max-width: 425px) {
    .outer,
    #signup .outer {
        width: auto;
    }

    #gallery {
        column-count: 3;
    }
    .text-input {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 50%;
    }
}

/*Tablets*/

@media screen and (max-width: 768px) {
    .menu-button-container {
        display: flex;
      }
      .nav-menu {
        position: absolute;
        top: 0;
        margin-top: 7rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .nav-menu .nav-item {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .nav-menu .nav-item {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .nav-item {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #2E383F;
      }
    /*
    .navbar {
        justify-content: center;
    }

    .nav-menu {
        line-height: 2.5rem;
        padding: 0;
    }

    .nav-item {
        display: block;
    }*/

    .parallax {
        background-attachment: scroll;
    }

    .location-primary-text {
        width: 80%;
    }

    .center,
    .right {
        margin-right: auto;
        margin-left: 0;
    }

    .schedule-container {
        width: 100%;
    }

    #signup .outer {
        width: 80vw;
    }
}

/*Laptops*/

@media screen and (max-width: 950px) {
    #about {
        flex-direction: column;
    }

    .about-video iframe {
        width: auto;
        height: auto;
    }

    .expect-container {
        flex-direction: column;
    }

    .locations-primary-text {
        width: auto;
    }

    .location-container {
        justify-content: center;
    }

    .location-inner {
        width: 80vw;
        margin: 2rem;
    }

    .schedule-list-container {
        flex-direction: column;
    }
}

/* Animations */
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    90% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}