@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Default styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Roboto, sans-serif;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: #ECECEB;
    color: #2E383F;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-family: Epilogue, sans-serif;
    font-size: 3rem;
    letter-spacing: .5rem;
    line-height: 1.5;
    text-transform: uppercase;
}

h2,
h3 {
    font-weight: 700;
}

/* Navigation Bar */

.navbar {
    display: flex;
    /*
    justify-content: flex-end;
    */
    align-items: center;
    background-color: #2E383F;
}

.logo {
    margin-right: auto;
    margin-left: .2rem;
    padding: .5rem 0 .5rem;
}

.logo-img {
    max-width: 23rem;
}

.nav-menu {
    padding: .5rem 3rem .5rem 0;
    color: #ECECEB;
}

.nav-item {
    margin-right: 2rem;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: .4rem;
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.nav-menu .active {
    color: #F9A828;
}

.nav-menu a:hover {
    color: #F9A828;
}

/*Hero Banner*/

.parallax {
    /* The image used */
    background-image: url("../images/parallax.webp");
    /* Set a specific height */

    width: 100%;
    overflow: hidden;
    position: relative;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero {
    min-height: 70vh;
}

.hero-text {
    padding: 4rem 2rem 4rem 2rem;
    letter-spacing: .2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*----------------------------------Dark Background */
.bg-dark {
    color: #ECECEB;
    background-color: rgba(46, 56, 63, .7);
    border-radius: 2rem;
}

.hero-text>h2 {
    font-size: 2.1rem;
    letter-spacing: .2rem;
    padding-top: .5rem;
    margin-bottom: 1.5rem;
}

.button {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #2E383F;
    background-color: rgb(249, 168, 40);
    border: #2E383F solid .2rem;
    border-radius: 10rem;
    padding: .8rem 1.7rem;
}

.button:hover {
    color: #ECECEB;
    background-color: #2E383F;
    border: #ECECEB solid .2rem;
}

/* Media Queries */

/*Mobile */

@media screen and (max-width: 375px) {
   .logo {
        margin-right: 2rem;
    }

    .logo-img {
        min-width: 40vw;
    }
}

/*Tablets*/


@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }

    .nav-menu {
        /*margin: .5rem 0px .5rem 1.5rem;*/
        line-height: 2.5rem;
    }

    .nav-item {
        display: block;
        /*padding: .4rem 0 .4rem 0;*/
    }

    .parallax {
        background-attachment: scroll;
    }
}

/*Laptops*/

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }

    .nav-menu {
        /*margin: .5rem 0px .5rem 1.5rem;*/
        line-height: 2.5rem;
    }

    .nav-item {
        display: block;
        /*padding: .4rem 0 .4rem 0;*/
    }

    .parallax {
        background-attachment: scroll;
    }
}


/* Animations */
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}